{% extends "layouts/base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block description %}Information about the ClinVar Submission Service.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <b>
                        <a href="{% url 'about' %}">
                            {% include "common/icon.html" with icon_name="info-circle" %}
                            About
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <p>
            The ClinVar Submission Service (CVSS) provides a convenient way for ClinGen
            applications to submit classifications to ClinVar.
        </p>

    </div>

{% endblock %}
