{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block description %}Contact the maintainers of the ClinVar Submission Service.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <b>
                        <a href="{% url 'contact' %}">
                            {% include "common/icon.html" with icon_name="info-circle" %}
                            Contact
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <p>
            For questions, comments, and concerns, please email
            <a href="mailto:cvss@clinicalgenome.org">cvss@clinicalgenome.org</a>.
        </p>

    </div>

{% endblock %}
