{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Classifications{% endblock %}
{% block description %}Review pending classifications awaiting ClinVar
    submission.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <b>
                        <a href="{% url 'classification-list' %}">
                            {% include "common/icon.html" with icon_name="list-ul" %}
                            Classifications
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <h1 class="title">Classifications</h1>

        <div class="scroll-container">
            <table id="classification-table"
                   class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Variant</th>
                    <th>Disease</th>
                    <th>Classification</th>
                    <th>Affiliation</th>
                    <th>Status</th>
                    <th>Received</th>
                </tr>
                </thead>
                <tbody>
                {% for classification in classifications %}
                    <tr>
                        <td>{{ classification.local_id }}</td>
                        <td>{{ classification.variant.car_id }}</td>
                        <td>{{ classification.disease }}</td>
                        <td>{{ classification.germline_classification }}</td>
                        <td>{{ classification.affiliation }}</td>
                        <td>{{ classification.get_status_display }}</td>
                        <td>{{ classification.added_at }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No classifications found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <script>
        document.addEventListener('htmx:load', () => {
            new DataTable('#classification-table');
        });
    </script>
{% endblock %}
